.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

/* Write your CSS here */
.table-row {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin-bottom: 12px;
}

.table-cell {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 12px;
}

.name-column {
  flex-grow: 1;
}

.initial-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  text-transform: uppercase;
}

/* Background color options */
.amber {
  background-color: #ffc107;
}
.blue {
  background-color: #2196f3;
}
.orange {
  background-color: #ff9800;
}
.emerald {
  background-color: #2ecc71;
}
.teal {
  background-color: #009688;
}
.red {
  background-color: #f44336;
}
.light-blue {
  background-color: #03a9f4;
}

.initial {
  margin: 0;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.username {
  font-weight: 600;
  margin: 0;
}

.time {
  font-size: 12px;
  color: #757575;
  margin: 0;
}

.comment {
  margin-top: 6px;
  font-size: 14px;
  color: #333;
}

.actions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  margin-top: 10px;
}

.like-button,
.delete-button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0;
}

.like-icon,
.delete-icon {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.button {
  color: #475569;
  font-weight: 500;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.button-active {
  color: #0b69ff;
  font-weight: 600;
}
